{#
/**
 * @file
 * Default theme implementation to display a cars list.
 *
 * Returns HTML for a wrapper for a car list.
 *
 * Available variables:
 * - items: A list of make items. Each make item contains:
 *   - name: Name of the make
 *   - models: A list of models
 *     - name: Name of the model
 *     - shows: a list of shows
 *
 * @ingroup themeable
 */
#}

{% for make in items %}
    <ul>
        <li>
            {{ make.name }}
            <ul>
                {% for model in make.models %}
                    <li>
                        {{ model.name }}
                        <ul>
                            {% for show in model.shows %}
                                <li>{{ show }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endfor %}
